.metadata/*.*
RemoteSystemsTempFiles/*.*
*.o
*.log
*.ui
*.project
*.cproject
*/.settings/
Makefile.*
*.doxyfile
*.sh
moc*.*
ControleurDeListeElectorale/.fuse*
ControleurDeListeElectorale/ControleurDeListeElectorale
ControleurDeListeElectorale/ControleurDeListeElectorale.pro
ControleurDeListeElectorale/Makefile
ControleurDeListeElectorale/testsauvegarde
ControleurDeListeElectorale/ui_creerpersonne.h
GIF1003/.gitignore
TesteurAdresse/.gitignore
TesteurCandidat/.gitignore
TesteurCirconscription/.gitignore
TesteurElecteur/.gitignore
TesteurPersonne/.gitignore
